/**
 * SETTINGS
 */
$av-namespace: '#{$prefix}-grid' !default;// Prefix namespace for grid layout and cells
$av-element-name: 'cell' !default;// Element/cell name
$av-element-class-chain: '__' !default;  // Chain characters between block and element
$av-modifier-class-chain: '--' !default;  // Chain characters between block and modifier
$av-breakpoint-class-chain: '--' !default;  // Chain characters between width and breakpoint
$av-gutter: 8px !default;  // Gutter between grid cells
$av-width-class-namespace: '' !default; // Prefix namespace for width classes. For example; 'col-'
$av-width-class-style: 'fraction' !default;  // Width class naming style. Can be 'fraction', 'percentage' or 'fragment'
$av-widths: (
  1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, ) !default; // Width denominator values. 2 = 1/2, 3 = 1/3 etc. Add/remove as appropriate
$av-enable-responsive: true !default;
$av-breakpoints: (
  "retina":  "screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx)", "widescreen": "screen and (min-width: 1160px)", "desk":"screen and (min-width: 1025px)", "desktop":"screen and (max-width: 1024px)", "desktop-up": "screen and (min-width: 801px)", "lap": "screen and (min-width: 801px) and (max-width: 1024px)", "tablet":  "screen and (max-width: 800px)", "handheld-up":  "screen and (min-width: 500px)", "handheld":"screen and (min-width: 500px) and (max-width: 800px)", "phone":   "screen and (max-width: 499px)", ) !default; // Responsive breakpoints. Add/remove as appropriate

// Enable/disable grid layouts
$av-enable-grid-center: false !default;
$av-enable-grid-cell-center: false !default;
$av-enable-grid-right: false !default;
$av-enable-grid-middle: false !default;
$av-enable-grid-bottom: false !default;
$av-enable-grid-no-spacing: false !default;
$av-enable-grid-tiny: false !default;
$av-enable-grid-small: false !default;
$av-enable-grid-large: false !default;
$av-enable-grid-huge: false !default;
$av-enable-grid-auto: false !default;
$av-enable-grid-rev: false !default;
